<!DOCTYPE html>
<html>
<head>
  <title>OxfordBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<% if notice %>
	<div class="alert alert-success">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <%= notice %>
	</div>
<% end %>
<% if alert %>
  <div class="alert alert-danger">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <%= notice %>
	</div>
<% end %>

<%= yield %>

</body>
</html>
